@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    font font-family: 'roboto', sans-serif;
    margin: 0;
    padding: 0;

}

body,
html {
    background-color: #000;
    color: #fff;
}

a,
a:hover,
a:visited {
    color: unset;
    text-decoration: nome;
}

header {
    background: linear-gradient(180deg, #102347 0%, #181818 100%);
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;


}

.dsmeta-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dsmeta-logo-container img {
    width: 235;
}

.dsmeta-logo-container h1 {
    margin-top: 15px;
    font-size: 24px;
}
.dsmeta-logo-container p{
    font-size: 14px;
    font-weight: 300;
}